#mainPage{
    display: flex;
}
#mainChatPanel{
    flex: 1;
    display: flex;
    flex-direction: column;
}
#topInfo{
    background-color: white;
}
#chatPanel{
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chatBox{
    display: flex;
    flex-direction: column;
}

.chatBox .messeges{
    flex: 1;
    background-color: white;
}

.chatBox .inputBox{
    background-color: white;
    display: flex;
    padding: 5px;
    align-items: center;
    border-top: 1px solid black;
}

.chatBox .inputBox .inputTextBox{
    flex: 1;
    display: grid;
}

.chatBox .inputBox svg{
    margin-left: 10px;
    margin-right: 10px;    
}
