#sidebar{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    padding: 10px;
    height: 100vh;
    border-right: 1px solid black;
}

#sidebar .sidebarItem{
    padding: 5px;
    border-radius: 5px;
    display: inline-flex;
}

#sidebar .sidebarItem:hover{
    background: rgba(0, 0, 0, 0.747);
    cursor: pointer;
}

#sidebar .active{
    background: rgba(0, 0, 0, 0.747);
}